.gallery-container {
  display: block;
  width: 100%;
  border: "1px solid #ddd";
}

.dir-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.gallery-dir-item {
  margin: 0 5px;
  min-width: 110px;
}

.gallery-dir-img {
  border-radius: 12px;
  border: 2px solid $primary;
}

.gallery-item {
  margin-bottom: 5px;
}

.gallery-ctl {
  min-width: 50vw;
}

[role=tooltip].popup-content {
  width: auto !important;
}