.gallery-container {
  display: block;
  width: 100%;
  border: "1px solid #ddd";
}

.dir-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery-ctl {
  min-width: 50vw;
}

[role=tooltip].popup-content {
  width: auto !important;
}

.grid-sizer,
.grid-item {
  width: 22%;
}

.grid-item {
  height: 120px;
  float: left;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}