.gallery-container {
  display: block;
  width: 100%;
  border: "1px solid #ddd";
}

.dir-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery-ctl {
  min-width: 50vw;
}

[role=tooltip].popup-content {
  width: auto !important;
}
