.timeline-columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card, .panel {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 20%), 1px 1px 1px 1px rgb(10 10 10 / 20%) !important;
}

.timeline-default-cover {
  background-color: $primary;
}