body::-webkit-scrollbar, .dir-container::-webkit-scrollbar, .popup-gallery::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

body::-webkit-scrollbar-track, .dir-container::-webkit-scrollbar-track, .popup-gallery::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb, .dir-container::-webkit-scrollbar-thumb, .popup-gallery::-webkit-scrollbar-thumb {
  background-color: $mediumgray;
  outline: 1px solid $darkgray;
}